/*
   Main css file.
*/

* { box-sizing: border-box; margin: 0; padding: 0; }

main {
	height: 100%;
	height: 100vh;
}

a { color: black; }

#dreamOfSongs {
	border: 1px solid black;
	margin: 0 auto;
	display: block;

	/* disable double tap zoom */
	touch-action: manipulation;
}

.highscore-wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 1em;
}
.highscore-wrapper li {
	list-style-type: none;
}
.highscore {
	display: flex;
	flex-direction: column;
}
.highscore li {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.highscore li p {
	width: 15%;
	text-align: center;
}
.highscore li p:first-of-type {
	width: 40%;
	text-align: left;
}
.highscore li p:last-of-type {
	width: 30%;
}

footer {
	height: 2em;
	margin: 0 1% 0 1%;
	margin-top: -2.5em;

	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

footer a { margin: 0 0.5%; }

footer > * {
	margin: 0 1.5%;
}

@media screen and (max-width: 800px) {
	footer { margin-top: 0.1em; }
}

/* remove footer so it doesn't display over game */
@media screen and (max-height: 452px) {
	footer { visibility: hidden; }
}