main .light-blue-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/light_blue_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}