.black-and-white-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/black_and_white_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.black-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/black_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.blue-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/blue_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.blue-sky-blurred {
	height: 100%;
	width: 100%;

	background: url(../img/sky/blue_sky_blurred.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.crazy-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/crazy_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.dark-blue-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/dark_blue_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.gray-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/gray_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.light-blue-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/light_blue_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.pale-black-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/pale_black_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.purple-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/purple_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.red-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/red_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.white-sky {
	height: 100%;
	width: 100%;

	background: url(../img/sky/white_sky.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}