<!doctype html>
<html>

<!-- you are a hacker! good job -->

<!-- site developer: Matthías Pétursson - oldschool01123@gmail.com -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:site_name" content="Matthías Pétursson"/>
	<meta property="og:title" content="Matthías Pétursson"/>
	<meta property="og:description" content="Matthías Pétursson is a musician, writing music and contemplating life."/>
	<meta property="og:image" content="img/sky/light_blue_sky.jpg">
	<meta property="og:url" content="http://matthiaspetursson.com/">
	<meta property="og:type" content="website"/>

	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	{{ content }}
</body>

</html>